.scroll {
  display: inline-block;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scroll::-webkit-scrollbar {
  display: none;
}

table {
  width: 350px;
  height: 400px;
  border-spacing: 0;
  border: solid 1px;
  border-collapse: collapse;
}

th {
  border: 1px solid #000000;
  background-color: rgb(32, 32, 58);
}
td {
  border-bottom: solid 1px;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  width: 300px;
}
#t14,
#t13,
#t12,
#t11,
#t10,
#t9,
#t8,
#t7,
#t6,
#t5,
#t4,
#t3,
#t2,
#t1,
#t0 {
  background-color: #eef6ff;
}

#t15,
#t16,
#t17,
#t18,
#t19,
#t20,
#t21,
#t22,
#t23,
#t24,
#t25,
#t26,
#t27,
#t28,
#t29 {
  background-color: #fff0ef;
}

#div2,
#div3 {
  float: left;
}
#bottom_ui {
  color: aliceblue;
  margin-top: 20px;
}
.top li {
  float: left;
  /* outline: solid 1px; */
  margin-right: 30px;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: aliceblue;
}
#bitcoin_info,
#top_nav_myinfo {
  display: inline-block;
}

/* #top_nav_myinfo {
  margin-left: 10px;
} */
#div3 {
  margin-left: 45px;
  margin-top: 10px;
  border: solid 2px white;
  color: aliceblue;
}
#div3_top_list {
  margin-bottom: 50px;
}
#div2 {
  margin-top: 10px;
}
.fixhead {
  position: sticky;
  top: 0;
}
button {
  font-family: "Noto Sans KR", sans-serif;
}
input {
  font-family: "Noto Sans KR", sans-serif;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  color: rgb(75, 75, 75);
  width: 190px;
}

#popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#popup.hide {
  display: none;
}

#popup.multiple-filter {
  backdrop-filter: blur(4px) grayscale(90%);
  -webkit-backdrop-filter: blur(4px) grayscale(90%);
}

#popup .content {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
